.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 164px;
}