/* --primary-color: #000;
   --bg-color: #F5F5F5;
  --secondary-color: rgb(255, 196, 0);
  --grotesk-family: 'Space Grotesk', sans-serif; */

.seperator {
    width: 1284px;
    height: 2px;
    background: var(--primary-color);
}
.home_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 36px; */
}

.home_area .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1228px;
    gap: 164px;
}

.content .frame {
    display: flex;
    width: 1228px;
    height: 682px;
    flex-shrink: 0;
}

.content .frame .text {
    display: flex;
    width: 787px;
    height: 600px;
    flex-shrink: 0;
}

.content .frame .text p {
    color: #282828;
    font-family: var(--grotesk-family);
    font-size: 69px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 2;
}

.content .frame .text p span {
    color: #282828;
    font-family: var(--grotesk-family);
    font-size: 69px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.content .frame .image {
    width: 606px;
    height: 564px;
    flex-shrink: 0;
    z-index: 1;
    border-radius: 20px;
    margin-left: -150px;
}

.content .section {
    display: flex;
    flex-direction: column;
    gap: 164px;
    padding: 0 100px;
    justify-content: center;
    align-items: center;
    transform-origin: left;

    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 700px;

}

@keyframes fade-in {
    from {scale: .8; opacity: 0;}
    to {scale: 1; opacity: 1;}
}

/* PROJECT_SEAT */
.content .project_sect {
    width: 1284px;
    height: 891.582px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.content .project_sect .section_title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.content .project_sect .section_title .title {
    width: 586.49px;
}

.content .project_sect .section_title .title h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 45.063px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .project_sect .projects  {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.content .project_sect .projects .project img {
    cursor: url('../assets/images/cursor_img.png') 16 16, auto;
}

.content .project_sect .projects .project h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .project_sect .projects .link_project {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.content .project_sect .projects a {
    display: flex;
    text-decoration: none;
}

.content .project_sect .projects a h6 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 15px;
    border: 1.5px solid var(--primary-color);
    border-radius: 50%;
}
/* PROJECT_SECT_END */

/* CREATION_SECT */
.content .creation_sect {
    width: 1284px;
    height: 560px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    transform-origin: right;

    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 700px;

}

.content .creation_sect .section_title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.content .creation_sect .section_title .title {
    width: 586.49px;
}

.content .creation_sect .section_title .title h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 45.063px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .creation_sect .content {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 1284px;
}

.content .creation_sect .content .text {
    display: flex;
    flex-direction: column;
    width: 514px;
    gap: 100px;
}

.content .creation_sect .content .text .para_1 {
    width: 514px;
    height: 229px;
    flex-shrink: 0;
}

.content .creation_sect .content .text .para_1 p {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .creation_sect .content .text .para_2 {
    width: 592px;
    height: 31px;
    display: flex;
}

.content .creation_sect .content .text .para_2 a p {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.content .creation_sect .content .text .para_2 a div {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.content .creation_sect .content .video_link .video {
    border-radius: 5px;
    width: 674px;
    height: 376px;
    flex-shrink: 0;
}

/* CREATION_SECT_END */

/* ABOUT_SECT */

.content .about_sect {
    width: 1284px;
    height: 888.5px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    transform-origin: left;

    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;

}

.content .about_sect .section_title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.content .about_sect .section_title .title {
    width: 586.49px;
}

.content .about_sect .section_title .title h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 45.063px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .about_sect .content {
    display: flex;
    flex-direction: column;
    gap: 200px;
    width: 1284px;
}

.content .about_sect .content .text {
    display: flex;
    gap: 50px;
    width: 1284px;
}

.content .about_sect .content .text .para {
    width: 535px;
    height: 447.958px;
    flex-shrink: 0;
}

.content .about_sect .content .text .para p {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .about_sect .content .text .faq {
    display: flex;
    flex-direction: column;
    width: 535px;
    height: 385px;
    flex-shrink: 0;
    flex-direction: column;
    gap: 30px;
}

.content .about_sect .content .text .faq h4 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .about_sect .content .text .faq .scrolls{
    display: flex;
    width: 535px;
    height: 385px;
    flex-direction: column;
    gap: 30px;
}

.content .about_sect .content .faq .scrolls .item  {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .about_sect .content .faq .scrolls .item .title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content .about_sect .content .faq .scrolls .item .title .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .about_sect .content .faq .scrolls .item .title .scroll_img {
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    transition: .5s ease-out;
}

.content .about_sect .content .faq .scrolls .item .title .rot_scroll_img {
    transform: rotate(180deg);
    transition: .5s ease-out;
}

.content .about_sect .content .faq .scrolls .item .title .head h4 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}

.content .about_sect .content .text .faq .scrolls .item .para {
    display: flex;
    width: 578px;
    height: 110px;
    flex-shrink: 0;
    transition: 2s ease-out;
    transform-origin: left;
}

.content .about_sect .content .text .faq .scrolls .item .none {
    transition: 2s ease-out;
    display: none;
} 

.content .about_sect .content .text .faq .scrolls .item .para p {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    width: 642px;
    height: 2px;
    background: var(--primary-color)
}

.content .about_sect .content .slide {
    display: inline-flex;
    padding: 4px 0px 20px 0px;
    justify-content: flex-end;
    align-items: center;
    width: 1284px;
    height: 31px;
}

.content .about_sect .content .slide p {
    display: inline-flex;
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1284px;
    height: 27px;
    gap: 22px;
}

/* ABOUT_SECT_END */



/* CLIENT_SECT */

.content .client_sect {
    width: 1284px;
    height: 458px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    transform-origin: right;

    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;

}

.content .client_sect .section_title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.content .client_sect .section_title .title {
    width: 586.49px;
}

.content .client_sect .section_title .title h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 45.063px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .client_sect .carousel {
    display: flex;
    width: 1284px;
    height: 210px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .client_sect .carousel .container {
    width: 1284px;
    height: 210px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.content .client_sect .carousel .container .content .para {
    display: flex;
    text-align: center;
    width: 823px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
}

.content .client_sect .carousel .container .content .para p {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--grotesk-family);
    font-size: 30.06px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .client_sect .carousel .container .content .office {
    gap: 10px;
}

.content .client_sect .carousel .container .content .office h4{
    color: var(--primary-color);
    text-align: center;
    font-family: var(--grotesk-family);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .client_sect .carousel .container .content .office h5 {
    color: var(--primary-color);
    text-align: center;
    font-family: var(--grotesk-family);
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.container .client_sect .carousel .container .slick-prev,
.container .client_sect .carousel .container .slick-next  {
    width: 100px;
    height: 100px;
    background-color: #F5F5F5;
    border: none;
    padding: 50px;
    margin-top: 30px;
    cursor: pointer;
}

/* CLIENT_SECT_END */

/* EMAIL_SECT */

.content .email_sect {
    width: 1284px;
    height: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    transform-origin: right;

    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;

}

.content .email_sect .section_title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
}

.content .email_sect .section_title .title {
    width: 586.49px;
}

.content .email_sect .section_title .title h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 45.063px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content {
    display: flex;
    flex-direction: row;
}

.content .email_sect .content .text {
    width: 530px;
    height: 277px;
    flex-shrink: 0;
    gap: 40px;
}

.content .email_sect .content .text .para_1 p {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .text .para_2 {
    width: 530px;
    height: 61px;
    flex-shrink: 0;
}

.content .email_sect .content .text .para_2 p {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .text .para_2 p span {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.content .email_sect .content .form {
    display: flex;
    align-items: flex-start;
}

.content .email_sect .content .form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.content .email_sect .content .form form .name .name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.content .email_sect .content .form form .name .name label h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .form form .name .inputs {
    display: flex;
    align-items: flex-start;
    gap: 37px;
}

.content .email_sect .content .form form .name .inputs input {
    display: flex;
    width: 251px;
    padding: 11px 13px;
    align-items: flex-start;
    gap: 10px;
    background: var(--bg-color);
    border: 2px solid var(--border-color);
    color: var(--input-text-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .form form .inquiries {
    display: flex;
    align-items: flex-start;
    gap: 37px;
}

.content .email_sect .content .form form .inquiries .inquiry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.content .email_sect .content .form form .inquiries 
.inquiry label h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .form  form .inquiries
 .inquiry .input option {
    display: flex;
    padding: 11px 13px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content .email_sect .content .form form .inquiries 
.inquiry select {
    background: var(--bg-color);
    display: flex;
    padding: 11px 12px;
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 10px;
    border: 2px solid var(--border-color);
    width: 251px;
}

.content .email_sect .content .form form .inquiries 
.inquiry select {
    color: var(--input-text-color);
    font-family: var(--grotesk-display);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .form form .inquiries .email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.content .email_sect .content .form form .inquiries .email label h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .form form .inquiries 
.email .input input {
    display: flex;
    padding: 11px 13px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid var(--border-color);
    color: var(--input-text-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--bg-color);
}

.content .email_sect .content .message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.content .email_sect .content .message label h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .email_sect .content .message .input input {
    border: none;
    background: var(--bg-color);
    transition: .5s ease-out;
}

.content .email_sect .content .message .input input:hover {
    border: 1px solid var(--primary-color);
    transition: .5s ease-out;
}

.content .email_sect .content .message .input{
    display: flex;
    width: 544px;
    height: 140px;
    padding: 11px 13px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid var(--border-color);
    background: var(--bg-color);
    color: var(--input-text-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    text-align: start;
    font-weight: 400;
    line-height: normal;
    margin-bottom: auto;
}

.content .email_sect .content .form form .submit input {
    display: flex;
    padding: 8px 30px;
    align-items: flex-start;
    gap: 10px;
    border: 2px solid var(--border-color);
    color: var(--primary-color);
    text-align: center;
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* EMAIL_SECT_END */

/* BLOG_SECT */

.content .blog_sect {
    width: 1284px;
    height: 342.421px;
    gap: 64.77px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transform-origin: left;

    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px;
}

.content .blog_sect .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 60px;
}

.content .blog_sect .content .title {
    display: flex;
}

.content .blog_sect .content .title h3 {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .blog_sect .content .blogs {
    display: flex;
    gap: 100px;
    width: 1100px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.content .blog_sect .content .blogs .blog_post {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    height: 143px;
}

.content .blog_sect .content .blogs .blog_post .subject h5 {
    width: 288px;
    color: var(--primary-color);
    text-align: justify;
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
} 

.content .blog_sect .content .blogs .blog_post .bottom_layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;    
}

.content .blog_sect .content .blogs .blog_post .bottom_layout .link {
    display: flex;
    width: 108px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.content .blog_sect .content .blogs .blog_post .bottom_layout .link a {
    color: var(--primary-color);
    font-family: var(--grotesk-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
}

.content .blog_sect .content .blogs .blog {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.content .blog_sect .content .blogs .blog .line {
    width: 2px;
    height: 185.305px;
    background: var(--primary-color);
}

/* BLOG_SECT_END */

/* NEWSLETTER_SECT */

.content .news_sect {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
    width: 1294px;
    height: 513px;
    transform-origin: right;

    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 500px; 
}

.content .news_sect .wavy_line {
    width: 1344px;
    text-decoration: underline wavy;
}

.content .news_sect .wavy_line h6 {
    color: var(--bg-color);
}

.content .news_sect .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* NEWSLETTER_SECT_END */