body {
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.layout {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
    position: relative;
    overflow: hidden; 

    animation: blurry 3s ease-in-out 0s 1 normal forwards;
}

@keyframes blurry {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}