@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
  --primary-color: #000;
  --bg-color: #F5F5F5;
  --secondary-color: rgb(236, 152, 73);
  --border-color: #4E4E4E;
  --input-text-color: #9F9F9F;
  --grotesk-family: 'Space Grotesk', sans-serif;
}

/* * {
  background-color: #F5F5F5;
  
} */